03__Youtube_To_Video_RD_No_Token.json
{
  "name": "03. Youtube_To_Video_RD_No_Token",
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0",
          "mode": "list",
          "cachedResultName": "01.RDV1_N8n_ YTVideo_To_Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video": "={{ $('Lấy File Video từ Google Sheet').item.json[\"Link Video\"] }}",
            "Transcript": "={{ $('Lấy kết quả của  transcript').item.json.captions }}",
            "row_number": "={{ $('Lấy File Video từ Google Sheet').item.json.row_number }}",
            "Link  Audio ": "={{ $('Tải  Audio lên GG Drive').item.json.webViewLink }}",
            "Link Video Ex": "={{ $json.url }}",
            "Status": "Succses"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link Video",
              "displayName": "Link Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link  Audio ",
              "displayName": "Link  Audio ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Video Ex",
              "displayName": "Link Video Ex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3000,
        380
      ],
      "id": "587fdbee-d2cc-4e48-b918-5969b0276501",
      "name": "Cập Nhật Link Audio và Trạng Thái",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "v57gc4yCBd85gV0d",
          "name": "Google Service Account account 20"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        380
      ],
      "id": "9f92b35c-5b84-46a9-bb42-af5a58694646",
      "name": "Chia Sẻ Audio",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g7ggZwhVKHQWYD8L",
          "name": "Google Drive account 31"
        }
      }
    },
    {
      "parameters": {
        "name": "=audio-generated",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1fbTV4B7RdxT9nenbPkPMBEkkB4t_XIs7",
          "mode": "list",
          "cachedResultName": "99. Audio_N8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fbTV4B7RdxT9nenbPkPMBEkkB4t_XIs7"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2280,
        20
      ],
      "id": "813d967c-4999-46c5-9389-a5e932059399",
      "name": "Tải  Audio lên GG Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g7ggZwhVKHQWYD8L",
          "name": "Google Drive account 31"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.Summary }}",
        "voice": "echo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2020,
        20
      ],
      "id": "037c1af2-a919-4493-8569-e9db5a0bce9f",
      "name": "Lấy Audio",
      "credentials": {
        "openAiApi": {
          "id": "Fb5FWosDRIdQsNQ0",
          "name": "OpenAi account 23062035"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0",
          "mode": "list",
          "cachedResultName": "01.RDV1_N8n_ YTVideo_To_Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Audio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFpRrjlRLKb88pEBeBii6_HwCBLT5NDuHWb_ixqckEE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video": "={{ $('Lấy File Video từ Google Sheet').item.json[\"Link Video\"] }}",
            "Transcript": "={{ $('Lấy kết quả của  transcript').item.json.captions }}",
            "row_number": "={{ $('Lấy File Video từ Google Sheet').item.json.row_number }}",
            "Summary": "={{ $json.message.content }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link Video",
              "displayName": "Link Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link  Audio ",
              "displayName": "Link  Audio ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Video Ex",
              "displayName": "Link Video Ex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        20
      ],
      "id": "8ca76873-03cb-41a0-a375-5266e93c34c0",
      "name": "Cập Nhật Transcript và Tóm Tắt",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "v57gc4yCBd85gV0d",
          "name": "Google Service Account account 20"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=tóm tắt nội dung sau khoảng 100 từ :\n{{ $json.captions }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1400,
        20
      ],
      "id": "8b00224b-17dc-476e-a4d8-574fc41c4e77",
      "name": "Tóm Tắt Audio",
      "credentials": {
        "openAiApi": {
          "id": "Fb5FWosDRIdQsNQ0",
          "name": "OpenAi account 23062035"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "token"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_y1U08omJvUIg3y19345AhaCbc0PEp64bkXsX"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        20
      ],
      "id": "5c861473-b20b-42b1-b59d-964b70646ea4",
      "name": "Lấy kết quả của  transcript"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}?token=",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        20
      ],
      "id": "43bb3902-6de0-4107-ad4b-745f4764a187",
      "name": "Lấy Thông Tin Chi Tiết của Actor Sau Run"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/1s7eXiaukVuOr4Ueg/runs?token=",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"outputFormat\": \"singleStringText\",\n  \"urls\": [\n\"{{ $json[\"Link Video\"] }}\"\n  ],\n  \"maxRetries\": 8,\n  \"channelNameBoolean\": true,\n  \"channelIDBoolean\": true,\n  \"dateTextBoolean\": false,\n  \"relativeDateTextBoolean\": false,\n  \"datePublishedBoolean\": true,\n  \"viewCountBoolean\": false,\n  \"likesBoolean\": false,\n  \"commentsBoolean\": false,\n  \"keywordsBoolean\": false,\n  \"thumbnailBoolean\": false,\n  \"descriptionBoolean\": false,\n  \"proxyOptions\": {\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\n      \"BUYPROXIES94952\"\n    ]\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "id": "43269cd7-d7f9-4298-9614-e2d56cc96fc4",
      "name": "Lấy Danh Sách Các Actors"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0",
          "mode": "list",
          "cachedResultName": "01.RDV1_N8n_ YTVideo_To_Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video": "={{ $json['Link Video'] }}",
            "row_number": "={{ $('Lấy File Video từ Google Sheet').item.json.row_number }}",
            "Status": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link Video",
              "displayName": "Link Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link  Audio ",
              "displayName": "Link  Audio ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Video Ex",
              "displayName": "Link Video Ex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        0
      ],
      "id": "263af583-53a3-435a-bd38-7d1c1e7e121a",
      "name": "Cập Nhật Trạng Thái",
      "credentials": {
        "googleApi": {
          "id": "v57gc4yCBd85gV0d",
          "name": "Google Service Account account 20"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0",
          "mode": "list",
          "cachedResultName": "01.RDV1_N8n_ YTVideo_To_Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KJVhLT4li1C10Yhv4T11VfIZP5aRfN0CVpdapdjAIH0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        20
      ],
      "id": "97e4b400-e453-4da3-ba34-65a972c7fb8b",
      "name": "Lấy File Video từ Google Sheet",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "s4dSAY6HttQn8Tn6",
          "name": "Google Sheets Trigger account 19"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44512f3f-1609-4735-8bc4-771360140abe",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -280,
        20
      ],
      "id": "10abe135-57ce-4483-b87d-6ace0396fc23",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        20
      ],
      "id": "55fe490c-d2d1-463e-b0dd-0a6a2421954d",
      "name": "Wait1",
      "webhookId": "afc024b3-e26c-45e3-8b9c-a4333140fbff"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "10GmgfjRd-6bsBn3g7C65Md-2NIR1PZIi",
            "mode": "list",
            "cachedResultName": "101. Video",
            "cachedResultUrl": "https://drive.google.com/drive/folders/10GmgfjRd-6bsBn3g7C65Md-2NIR1PZIi"
          }
        },
        "options": {
          "fields": [
            "webViewLink",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        420,
        380
      ],
      "id": "1da165a3-5529-40c1-aba2-99ba8bceed41",
      "name": "Lấy Danh Sách Video-Audio từ GG Drive",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g7ggZwhVKHQWYD8L",
          "name": "Google Drive account 31"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {\n    \"output_format\": \"mp4\",\n    \"width\": 270,\n    \"height\": 480,\n    \"elements\": [\n      {\n        \"type\": \"audio\",\n        \"track\": 2,\n        \"source\": \"{{ $('Lấy Thông Tin Video và Audio để ghép Video1').item.json.audio_1 }}\",\n        \"duration\": {{ $json.duration_audio }},\n        \"time\": 0\n      },\n      {\n        \"type\": \"video\",\n        \"track\": 1,\n        \"source\": \"{{ $('Lấy Thông Tin Video và Audio để ghép Video1').item.json.video_1 }}\",\n        \"duration\": {{ $json.video_per_second }},\n        \"time\": 0\n      },\n      {\n        \"type\": \"video\",\n        \"track\": 1,\n        \"source\": \"{{ $('Lấy Thông Tin Video và Audio để ghép Video1').item.json.video_2 }}\",\n        \"duration\": {{ $json.video_per_second }},\n        \"time\": {{ $json.video_per_second }}\n      },\n      {\n        \"type\": \"video\",\n        \"track\": 1,\n        \"source\": \"{{ $('Lấy Thông Tin Video và Audio để ghép Video1').item.json.video_3 }}\",\n        \"duration\": {{ $json.video_per_second }},\n        \"time\": {{ $json.video_per_second * 2 }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        380
      ],
      "id": "f204ae5c-8bb8-48c5-abaf-e7064bcc1839",
      "name": "Ghép Video1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c4ca77c-bca7-4ff0-af00-050b3aea2e96",
              "name": "audio_1",
              "value": "={{ $('Tải  Audio lên GG Drive').item.json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "ef551abc-4c7a-41ea-8dd0-fce4d9476dbb",
              "name": "video_1",
              "value": "={{ $json.data[0].webViewLink }}",
              "type": "string"
            },
            {
              "id": "6516035e-7189-4dbb-83bd-d94d71171fa1",
              "name": "video_2",
              "value": "={{ $json.data[1].webViewLink }}",
              "type": "string"
            },
            {
              "id": "16d245b9-e03d-473a-8f4a-3dcfa091af9e",
              "name": "video_3",
              "value": "={{ $json.data[2].webViewLink }}",
              "type": "string"
            },
            {
              "id": "4f13c658-0805-4e79-950d-11878e0aa334",
              "name": "duration_audio",
              "value": "={{ \n  (parseInt($('Lấy Audio').item.json.fileSize.replace('kb', '')) * 1024 * 8) / 160000 \n}}\n",
              "type": "number"
            },
            {
              "id": "f58316ed-4e15-43ab-ab66-744ac05a4f1f",
              "name": "video_per_second",
              "value": "={{ \n  (parseInt($('Lấy Audio').item.json.fileSize.replace('kb', '')) * 1024 * 8) / (160000*3)\n}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        380
      ],
      "id": "a1dd7bdc-d965-46ae-9a64-2dce1c2e5fc3",
      "name": "Lấy Thông Tin Video và Audio để ghép Video1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8aee7a42-77cf-48d3-adfb-63dc9f4b6134",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".mp4",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        900,
        380
      ],
      "id": "52c7e994-8498-4da5-b3f5-3dcb16482f83",
      "name": "Filter"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1400,
        380
      ],
      "id": "1e8d1263-7214-4350-9b77-bce3d67a04ab",
      "name": "Limit"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        640,
        380
      ],
      "id": "47404ff2-4318-4bf5-a5f6-f478e10522e6",
      "name": "Sort"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "webViewLink",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1160,
        380
      ],
      "id": "3f0b1de5-e8f8-4aa4-81f0-fa419a293e64",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1680,
        380
      ],
      "id": "3f345251-f68e-4165-bb67-f71ab0c3e981",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Chia Sẻ Audio": {
      "main": [
        [
          {
            "node": "Lấy Danh Sách Video-Audio từ GG Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tải  Audio lên GG Drive": {
      "main": [
        [
          {
            "node": "Chia Sẻ Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Audio": {
      "main": [
        [
          {
            "node": "Tải  Audio lên GG Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập Nhật Transcript và Tóm Tắt": {
      "main": [
        [
          {
            "node": "Lấy Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tóm Tắt Audio": {
      "main": [
        [
          {
            "node": "Cập Nhật Transcript và Tóm Tắt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy kết quả của  transcript": {
      "main": [
        [
          {
            "node": "Tóm Tắt Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Thông Tin Chi Tiết của Actor Sau Run": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Danh Sách Các Actors": {
      "main": [
        [
          {
            "node": "Lấy Thông Tin Chi Tiết của Actor Sau Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập Nhật Trạng Thái": {
      "main": [
        [
          {
            "node": "Lấy Danh Sách Các Actors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy File Video từ Google Sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cập Nhật Trạng Thái",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Lấy kết quả của  transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Danh Sách Video-Audio từ GG Drive": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Thông Tin Video và Audio để ghép Video1": {
      "main": [
        [
          {
            "node": "Ghép Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ghép Video1": {
      "main": [
        [
          {
            "node": "Cập Nhật Link Audio và Trạng Thái",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Lấy Thông Tin Video và Audio để ghép Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef994960-4cae-4879-a221-4e051f0a11f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94a383c02457267bcc44878635a0fa02b7d3206c5479bfc8890faa812e2bbd97"
  },
  "id": "eLS6lRHDuY8AppSy",
  "tags": []
}